.write-title {
    margin-top: 8rem;
    font-size: 32px;
    font-weight: 300;
}

.custom-box {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 25px;
    max-width: 400px;
    text-align: center;
}

.email {
    border: 1px solid #ced4da;
    border-radius: 2px;
    padding: 12px;
    font-size: 1rem;
    transition: border-color 0.3s, box-shadow 0.3s;
    width: 90%;
    margin-top: 20px;
}

.email-button {
    color: white;
    background-color: #605140;
    border-color: #605140;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 4px;
    transition: background-color 0.3s, border-color 0.3s;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 15px;
}

.email-button:hover {
    background-color: #605140;
    border-color: #605140;
}

.title {
    font-size: 14px;
    font-weight: 400;
}