.slider-container {
  margin-top: 30px;
  position: relative;
}

.photos {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: visible;
}

.text {
  font-weight: bold;
  font-size: 1rem;
  color: #4B5563;
  margin-bottom: 1.5rem;

}

.category-scroll {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.category-scroll::-webkit-scrollbar {
  display: none;
}

.category-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;

}

.scroll-area {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  padding: 1rem 0.5rem;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroll-area::-webkit-scrollbar {
  display: none;
}



.category-circle {
  width: 90px;
  height: 90px;
  min-width: 90px;
  font-size: 10px;
  padding: 8px;
  color: black;
  background-color: white;
  border-radius: 50%;
  border: 2px solid orange;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 0 0 2px rgb(166, 114, 114);
}

.category-circle:hover {
  cursor: pointer;

}

.banner {
  background-color: rgb(228, 230, 235);
  width: 250px;
  border-radius: 10px;
}

.banner-title {
  font-size: 25px;
  color: #4B5563;
  margin-top: 5px;
}

.banner-image {
  background-image: linear-gradient(rgb(228, 230, 235), rgb(255, 255, 255));
  position: relative;
  margin-top: -10px;
  width: 100%;
}

.image {
  width: 80%;
  height: 80%;
  border-radius: 10px;
  box-shadow: rgba(114, 124, 142, 0.25) 0px 8px 27px 0px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image:hover {
  transform: scale(1.1);
  box-shadow: rgba(114, 124, 142, 0.4) 0px 12px 35px 0px;
}